deployment:
    orchestrator: {{ orchestrator }}

{% if provider_config is defined %}
provider_config:
  {{ provider_config | to_nice_yaml | indent(2, False) }}
{% endif %}

{% if instances is defined %}
instances:
  {{ instances | to_nice_yaml | indent(2, False) }}
{% endif %}

{% if contrail_configuration is defined %}
contrail_configuration:
  {{ contrail_configuration | to_nice_yaml | indent(2, False) }}
{% if orchestrator == 'openstack' %}
  RABBITMQ_NODE_PORT: "{{ contrail_rabbitmq_port }}"
{% endif %}
{% endif %}

{% if orchestrator_configuration is defined %}
orchestrator_configuration:
  {{ orchestrator_configuration | to_nice_yaml | indent(2, False) }}
{% endif %}

{% if test_configuration is defined %}
test_configuration:
  {{ test_configuration | to_nice_yaml | indent(2, False) }}
{% endif %}
