REGISTRY_PRIVATE_INSECURE: True
CONTAINER_REGISTRY: {{ contrailregistry }}
{% if provider_config is defined %}
provider_config:
  bms:
{% if provider_config.bms.domainsuffix is undefined %}
    domainsuffix: local
{% endif %}
    {{ provider_config.bms | to_nice_yaml | indent(4, False) }}
{% endif %}

{% if instances is defined %}
instances:
  {{ instances | to_nice_yaml | indent(2, False) }}
{% endif %}

{% if contrail_configuration is defined %}
contrail_configuration:
  CONTAINER_REGISTRY: {{ contrailregistry }}
  CONTRAIL_VERSION: {{ version }}
  CLOUD_ORCHESTRATOR: {{ orchestrator }} 
  METADATA_PROXY_SECRET: {{ metadata_secret }}
{% if controller_nodes is defined %}
  CONTROLLER_NODES: {{ controller_nodes }}
{% endif %}
{% if orchestrator == 'openstack' %}
  AUTH_MODE: keystone
  KEYSTONE_AUTH_ADMIN_PASSWORD: {{ admin_password }}
  KEYSTONE_AUTH_HOST: {{ auth_ip }}
  KEYSTONE_AUTH_URL_VERSION: "/{{ keystone_version }}"
  RABBITMQ_NODE_PORT: {{ contrail_rabbitmq_port }}
  IPFABRIC_SERVICE_IP: {{ auth_ip }}
{% endif %}
  {{ contrail_configuration | to_nice_yaml | indent(2, False) }}
{% endif %}

{% if orchestrator_configuration is defined and orchestrator == 'openstack' %}
kolla_config:
  kolla_globals:
    kolla_internal_vip_address: {{ auth_ip }}
{% if kolla_external_vip is defined %}
    kolla_external_vip_address: {{ kolla_external_vip }}
{% endif %}
    network_interface: {{ network_interface }}
    kolla_external_vip_interface: {{ kolla_external_vip_interface }}
    contrail_api_interface_address: {{ contrail_api_ip }}
    enable_haproxy: {{ "yes" if openstack_ips is defined and openstack_ips|length >= 1 else "no" }}
    docker_registry: {{ kolla_registry }}
    docker_namespace: {{ kolla_namespace }}
    enable_ironic: "no"
    enable_swift: "no"
  kolla_passwords:
    metadata_secret: {{ metadata_secret }}
    keystone_admin_password: {{ admin_password }}
{% endif %}
